@import '../_main';

.button{
  background-color:unset;
  height:40px;
  width:80px;
  display: inline-block;
  margin: 0 10px;

  &.round{
    background-color: unset;
    height: 37.5px;
    width:37.5px;
    border-radius:50%;
    border: 4px solid $secondary-color-gold;
    margin-top: 10px;
    margin-bottom: 10px;
    
    &.disabled{
      border: 4px solid $secondary-color-gold;
      opacity: 0.5; 
      p {
        opacity: 50%;
      }
    }
    
  &.filled{
    background-color: $secondary-color-gold;
    p {
      color: $primary-color-slate;
    }
  }

    p{
      vertical-align: middle;
      margin: auto;
      text-align: center;
      line-height: 34px;
      color: $secondary-color-gold;
      font-size: 40px;
    }

  }

  &.square {
    height: 45px;
    width: 300px;
    border-radius: 50px;
    border: 3px solid $secondary-color-gold;
    margin-bottom: 20px; 

    p {
      vertical-align: middle;
      margin: auto;
      text-align: center;
      line-height: 45px;
      color: $primary-color-slate;
      font-size: 14px;
    }

    i{
      color: $primary-color-slate;
      font-weight: 900;
      margin: auto 125px;
      vertical-align: middle;
      font-size: 25px;
      line-height: 15px;
      border-radius: 20px;
      padding: 15px;

      &.gold-check {
        color: $secondary-color-gold;
      }
    }

    &.inactive {
      background-color: $inactive-button;
      border: 3px solid $inactive-button;
      margin-top: 20px;
        p {
          color: $inactive-text;
        }
    }

    &.normal {
      background-color: $secondary-color-gold;
    }

    &.hover {
      background-color: $hover-button;
      border: 3px solid $hover-button;
        p {
          color: $primary-color-slate;
        }
    }

    &.hoverLight {
      background-color: $hover-light-button;
        p {
          color: $secondary-color-gold;
        }
    }

    &.click {
      background-color: $click-button;
      border: 3px solid $click-button;
    }

    &.dark {
      p {
        color: $secondary-color-gold;
      }
    }
  }
}
